/* Iconos bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Fuente Montserrat: */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Resetear estilos + fuente del proyecto y box sizing */

* {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos a para identificar que son links al hacerle hover*/

a:hover {
    cursor: -webkit-link;
}

/* Creación variables con colores del proyecto */

:root {
    --verde-bosque: #1A5126;
    --verde-claro: #8FBF5F;
    --azul-claro: #5CB3FF;
    --beige: #F3E9DC;
    --marron-tierra: #B18F6A;
    --blanco: #FFFFFF;
}

/* Scroll personalizado para navegar con a dentro de la misma página */

html {
    scroll-behavior: smooth;
}

/* -- Estilos generales --*/
main {
    background-color: var(--beige);
}

.texto-verde {
    color: var(--verde-bosque);
}

.texto-blanco{
    color: var(--blanco);
}

.iconos{
    font-size: 35px;
}

/* Header y footer */

.fondo-verde {
    background-color: var(--verde-bosque);
}

.a-nav{
    font-size: 24px;
}

#header,
#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



#header{
    position: fixed; /* Para que continue viendose al hacer scroll*/
    width: 100%;
}

#logo {
    width: 120px;
}

#footer-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Primera sección */

#home {
    background-image: url(../../public/img/imagen1.webp);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Texto dentro de la primera sección*/

.texto-banner{
    width: 70%;
}

#titulo-banner{
    font-size: 45px;
    font-weight: 700;
}

#parrafo-banner{
    font-size: 24px;
    font-weight: 900;
}

/* Sección de Parques */

.parques {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    padding: 0 40px;
    margin: 20px 0;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;

}

.aside h3,
.aside h4 {
    margin: 20px 0
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
    justify-content: center;
}

.banner-parques {
    width: 92%;
    border-radius: 10px;
}

.img-inferior {
    width: 45%;
    border-radius: 10px;
}


/* Sección normas */

#texto-normas {
    text-align: center;
    width: 50%;
    margin: auto;
}

.normas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 40px 0;
}

.normas-card {
    text-align: center;
    background-color: var(--verde-claro);
    border-radius: 70px;
    width: 30%;
    padding: 20px;
}