/* Iconos bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Fuente Montserrat: */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Resetear estilos + fuente y box sizing */

*{
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*Creación variables con colores del proyecto*/

:root{
    --verde-bosque: #1A5126;
    --verde-claro: #8FBF5F;
    --azul-claro: #5CB3FF;
    --beige: #F3E9DC;
    --marron-tierra: #B18F6A;
    --blanco: #FFFFFF;
}

/*Scroll personalizado para navegar dentro de la misma página*/

html{
    scroll-behavior: smooth;
}

/* Header y footer */

.fondo-verde, a{
    background-color: var(--verde-bosque);
    color: var(--blanco);
}

#header, #footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#logo{
width: 120px;
}

#footer-redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}